python-telegram-bot~=13.6
natasha~=1.4.0
requests~=2.25.1
yargy~=0.15.0
transformers~=4.7.0
pymystem3~=0.2.0
stop-words~=2018.7.23
nltk~=3.6.2
scikit-learn~=0.24.2
numpy~=1.20.3

# we only need this for heroku
https://download.pytorch.org/whl/cpu/torch-1.9.0%2Bcpu-cp39-cp39-linux_x86_64.whl
