black~=21.6b0
mypy~=0.902
pytest~=6.2.4
python-telegram-bot~=13.6
natasha~=1.4.0
requests~=2.25.1
types-requests~=0.1.13
yargy~=0.15.0
transformers~=4.7.0
bs4~=0.0.1
selenium~=3.141.0
pymystem3~=0.2.0
stop-words~=2018.7.23
nltk~=3.6.2
scikit-learn~=0.24.2
numpy~=1.20.3
